.container{
    width: 550px;
    height: 700px;
    background-color: darkgray;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    margin: auto;
}

.menu{
    width: 480px;
    height: 100px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mainButton{
    background-size: cover;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
}

.field{
    display: grid;
    grid-template-columns: repeat(16, 30px);
    padding: 0;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.mineBtn{
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
}

.simpleCell{
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
}

.startCell{
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    border: none;
    outline: none;
}

.flagsQuality{
    display: flex;
}

.timer{
    display: flex;
}

.numeralValue{
    width: 30px;
    height: 50px;
    background-size: cover;
}